@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: white;
}

@font-face {
  font-family: 'sf-regular';
  src: url('../public/fonts/SF_REGULAR.OTF');
}

@font-face {
  font-family: 'sf-bold';
  src: url('../public/fonts/SF_BOLD.OTF');
}

@font-face {
  font-family: 'akurat-light';
  src: url('../public/fonts/Akkurat_Light.otf');
}

@font-face {
  font-family: 'akurat-normal';
  src: url('../public/fonts/Akkurat_Normal.otf');
}
